@font-face {
  font-family: GarExtrabold;
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot") format("eot"),
    url("../fonts/Gilroy/Gilroy-ExtraBold.ttf") format("ttf"),
    url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: GarBold;
  src: url("../fonts/Gilroy/Gilroy-Bold.eot") format("eot"),
    url("../fonts/Gilroy/Gilroy-Bold.ttf") format("ttf"),
    url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Chronicle;
  src: url("../fonts/chronicle-display-cufonfonts-webfont/Chronicle\ Display\ Roman.woff")
    format("woff");
}
